VITE_SUPABASE_URL=https://lzrxxvhcveeogmixvvao.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx6cnh4dmhjdmVlb2dtaXh2dmFvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMzMjEwMjUsImV4cCI6MjA5ODg5NzAyNX0.XaPLpf1wIZOCDhAOvuLMqjFDXBGJR0ypTXPAlYNhoCg